<?xml version="1.0" encoding="utf-8"?>
<!--测试号-->
<appSettings>
  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />

  <add key="elmah.mvc.disableHandler" value="false" />
  <add key="elmah.mvc.disableHandleErrorFilter" value="false" />
  <add key="elmah.mvc.requiresAuthentication" value="false" />
  <add key="elmah.mvc.IgnoreDefaultRoute" value="false" />
  <add key="elmah.mvc.allowedRoles" value="*" />
  <add key="elmah.mvc.allowedUsers" value="*" />
  <add key="elmah.mvc.route" value="elmah" />
  <add key="elmah.mvc.UserAuthCaseSensitive" value="true" />

  <!--微信Token-->
  <add key="Token" value="zeroes" />
  <!--微信消息体加密对应的EncodingAESKey-->
  <add key="EncodingAESKey" value="RCnpE2NzuboO5k2ViS3ZUpZIedtjbuBDg1rtibUCSta" />
  <!--微信AppId-->
  <add key="AppID" value="wxce06ffef42cfe954" />
  <!--微信AppSecret-->
  <add key="AppSecret" value="82648469a4022671860504a3439f2d46" />
 
</appSettings>